@media (max-width: 425px) {
    .container .card {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .container .card .left {
        width: 100%;
        height: auto;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }

    .container .card .left .title {
        padding-top: 20px;
    }

    .container .card .left .description {
        max-width: 65%;
        margin-bottom: 10px;
    }

    .container .card .right {
        width: 100%;
    }

    .container .card .right .button .btn {
        margin-bottom: 20px;
    }
}